<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>info</title>
</head>
<body>
    <button onclick="back()">Back</button>
    <script>
        function back() {
            window.location.href="/levels?category=" +encodeURIComponent('{{category}}');
        }
    </script>
    <center><h1>{{category}}</h1>
    <h2>{{level}}</h2>
    <h6><h1><u>ManuKuttan's info</u></h1>
        {% if level == "level 1" %}
        <h4>No of questions:10<br><br>
        timer:60 seconds<br><br>
        Min No Of Correct Answers to unlock next level:6</h4>
        <script>
            var min_correct=6;
        </script>
        {% elif level == 'level 2' %}
        <h4>No of questions:10<br><br>
        timer:50 seconds<br><br>
        Min No Of Correct Answers to unlock next level:7</h4>
        <script>
            var min_correct=7;
        </script>
        {% else %}
        <h4>No of questions:10<br><br>
        timer:40 seconds<br><br>
        Min No Of Correct Answers to unlock next level:8</h4>
        <script>
            var min_correct=8;
        </script>
        {% endif %}
        <button onclick="navigateToPage()">Start Quiz</button>
</center>
<script>
    function navigateToPage(){
        window.location.href= "/question/?level=" + encodeURIComponent('{{level}}') + "&category=" +encodeURIComponent('{{category}}') + "&num="+encodeURIComponent(0) + "&score="+encodeURIComponent(0) + "&min_correct=" +encodeURIComponent(min_correct);
    }
</script>
</body>
</html>