<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions</title>
    <!-- include the jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 
</head>
<body>
    <center><h1>Quiz</h1></center>
    <!-- <video width="100%" height="200px" controls autoplay> 
        {% load static %}
        <source src="{% static 'home\trial.mp4' %}" type="video/mp4">
    </video> -->
    <br>

    <script>

    $(function () {
        startTimer('{{duration}}');
    });
    
       function startTimer(duration) {
        var timer = duration;
        setInterval(function () {
        if (--timer < 0) {
            //checking if the timer gets to zero
            timer = duration;
            // submit the level and move on to the next one
            window.location.href="/result?category=" + encodeURIComponent('{{category}}') + "&level=" + encodeURIComponent('{{level}}')+ "&score="+encodeURIComponent('{{score}}');
        }
        duration=timer;
    }, 1000);
}
</script>
{% block content%}

{% endblock %}
   
</body>
</html> 


<!-- 
<video width="" height="" controls>
    <source src="dsdd.mp4" type="video/mp4">
</video>

const video =document.createElement('video');
video.src='';
video.autoplay = true; -->

<!-- const video=document.getElementById('video')
video.addEventListener('loadedmetadata', function() {

video.currentTime = '{{duration}}'; 
}); -->
