<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions</title>
    <!-- include the jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 
</head>
<body>
    <center><h1>Quiz</h1></center>
    <script>

    $(function () {
        var duration = 6; // 6 seconds
        startTimer(duration);
    });
    
       function startTimer(duration) {
        var timer = duration;
        setInterval(function () {
        if (--timer < 0) {
            //checking if the timer gets to zero
            timer = duration;
            // submit the level and move on to the next one
            window.location.href="/result?category=" + encodeURIComponent('{{category}}') + "&level=" + encodeURIComponent('{{level}}')+ "&score="+encodeURIComponent('{{score}}');
        }
    }, 1000);
}
</script>
{% block content%}

{% endblock %}
   
</body>
</html> 