<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        body{
            background-color: rgb(19, 13, 30);
            color: aliceblue;
        }
        button{
            background-color: rgb(168, 136, 231);
        border: 2px solid black;
        color: black;
        padding: 32px 16px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        border-radius: 12px;
        width: 20%;
        height: 50px;
        cursor: pointer;
        }
    </style>
</head>
<body>

    <b><div style="display: inline-block; float: right;" id="timer"></div></b><br>
    <center>
    <h1 style="font-family:ALGERIAN;">{{category}}</h1>
    <!-- <h2>{{level}}</h2> -->
    
    <script>
        var q = parseInt('{{num}}')+1;
    </script>
    
    
    
    <h3><script>document.write(q)</script>.&nbsp;&nbsp;{{ques}}&emsp;</h3>
    {% for i in answers %}
    <button id="{{i.id}}" onclick="checkAnswer('{{i.is_correct}}','{{i.id}}','{{correct_answer}}')">{{i.text}}</button><br><br>
    {% endfor %}
</center>
    <script>
        var dur;
        $(function () {
           
            startTimer(parseInt('{{duration}}'));
        });
        function startTimer(duration) {
            setInterval(function () {
            if (--duration < 0) {
            //checking if the timer gets to zero
            // submit the level and move on to the next one
            window.location.href="/result?category=" + encodeURIComponent('{{category}}') + "&level=" + encodeURIComponent('{{level}}')+ "&score="+encodeURIComponent('{{score}}')+"&min_correct="+encodeURIComponent('{{min_correct}}');
            }
            else{
                document.getElementById('timer').innerHTML ="Time Left : "+ duration +" sec";
            }

            dur=duration;
            // pass the current time to the next qn page
            }, 1000);
        }
        function checkAnswer(answer,id,correct_answer) {
            var buttons=document.querySelectorAll('button');
            for (var i = 0; i < buttons.length; i++)
                buttons[i].disabled=true;
            var button = document.getElementById(correct_answer);
                button.style.backgroundColor = "green";
            if (answer == "True") {
                
                var scr=parseInt('{{score}}')+1;
            
            } else {
                
                var button = document.getElementById(id);
                button.style.backgroundColor = "red";
                var scr=parseInt('{{score}}');
            }
           
            var number =parseInt('{{num}}') + 1;
            setTimeout(function(){
                window.location.href = "/question/?num=" + encodeURIComponent(number) + "&category=" + encodeURIComponent('{{category}}') + "&min_correct=" + encodeURIComponent('{{min_correct}}')+ "&level=" + encodeURIComponent('{{level}}')+ "&score="+encodeURIComponent(scr)+"&duration=" +encodeURIComponent(dur);
            
            }, 500);
        }
       
    </script>

</body>
</html> 