<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>next_page</title>
    {% load static %}
    <link rel="stylesheet"
    href="{% static 'homes/css/styles.css' %}">
</head>
<body>
    <center><h1>CATEGORIES</h1></center>
    {% for i in categories %}
    <center><button name="{{i.title}}" onclick="navigateToPage('{{i.title}}')">{{i.title}}</button></center>

<script>
    function navigateToPage(category) {
    window.location.href = "{% url 'levels' %}?category=" + encodeURIComponent(category);
}
</script> 

    <br><br><br>
    {% endfor %}
    
</body>
</html>